<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tool.xfy9326.floatpicture">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/DrawerActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.PictureSettingsActivity"
            android:label="@string/settings_label"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.GlobalSettingsActivity"
            android:label="@string/settings_global_label"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.AboutActivity"
            android:label="@string/about"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <activity
            android:name=".Activities.LicenseActivity"
            android:label="@string/open_source_license"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AboutActivity" />
        </activity>

        <service
            android:name=".Services.NotificationService"
            tools:ignore="InnerclassSeparator" />

        <receiver
            android:name=".Receiver.BootCompleteReceiver"
            android:exported="true"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
